@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.css";

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.otf') format('opentype'),
  url('../fonts/GothamPro-Light.woff') format('woff')
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.otf') format('opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff')
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro-Medium.otf') format('opentype'),
  url('../fonts/GothamPro-Medium.woff') format('woff')
}

@font-face {
  font-family: 'MonotypeCorsiva';
  src: url('../fonts/MonotypeCorsiva.ttf') format('truetype'),
  url('../fonts/MonotypeCorsiva.woff') format('woff')
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

body {
  overflow: hidden;
  font-family: 'GothamPro-Light', Arial, sans-serif;
}

.debug-info {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background: #edeff0;
  color: #4d4d4d;
  display: none;
  box-sizing: border-box;
}

.debug-info div {
  margin: 20px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.geoinput {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  margin: auto;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  /*padding: 0 11px 0 13px;*/
  text-overflow: ellipsis;
  width: calc(100% - 80px);
  z-index: 99999;
}

.geoinput:focus {
  border-color: #4d90fe;
}

.panoram {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 70;
}

.getGeoButton {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font: 500 14px/20px Roboto, sans-serif;
  height: auto;
  width: 170px;
  outline: 0;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .2s, box-shadow .2s;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  padding: 8px 16px;
  z-index: 999;
  position: absolute;
  display: block;
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #039be5;
  color: #fff;
}

.getGeoButton:active {
  background-color: #0277bd;
}

.getGeoButton:hover, .getGeoButton:focus {
  background-color: #0388ca;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#preloader {
  pointer-events: none;
  width: 306px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -153px;
  margin-top: -18px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  visibility: hidden;
}

#bar {
  pointer-events: none;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

canvas {
  transform-origin: 0 0;
}

.main-preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #000;
  z-index: 999;
}

.main-preloader-blurback {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: none;
  background: url(./../img/blured.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-preloader-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #ecd78d;
  background: -webkit-linear-gradient(#fed752, #ffeeae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'MonotypeCorsiva', serif;
  display: block;
}

.main-preloader-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url(./../img/preloader1.png) no-repeat;
  background-size: contain;
  width: 115px;
  height: 115px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  animation: rotatePreloader 2s infinite 0s linear;
}

@keyframes rotatePreloader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotatePreloader {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popups-debug {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 999999;
  text-align: center;
}


.cropper-bg {
  background: rgba(255, 255, 255, 0);
}

.cropper-point {
  background-color: #ffe380;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.cropper-line {
  background-color: #ffe380;
  display: none;
}

.cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px dashed #ffe380;
  outline-color: #ffe380;
}

.cropper-center {
  display: none;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .geoinput {
    height: 54px;
  }
}
