.main-content {
  display: none;
}

.mobile-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #160905;
  display: none;
}

.placeholder-container {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  z-index: 9998;
  /*display: none;*/
  font-size: 32px;
  font-family: 'GothamPro-Medium', Arial, sans-serif;
  /*Поменяешь шрифт на какой нужен*/
  text-align: center;
}

.placeholder-header {
  width: 100%;
  height: 50%;
  position: inherit;
  left: 0;
  right: 0;
  margin: auto;
  top: 5%;
}

.placeholder-logo {
  width: 100%;
  height: 100%;
  position: inherit;
  background: url(../img/placeholder-logo.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.placeholder-footer {
  width: 90%;
  height: 40%;
  position: inherit;
  left: 0;
  right: 0;
  margin: auto;
  top: 60%;
}

.placeholder-text {
  font-size: 32px;
}

@media all and (max-width: 480px) and (orientation: portrait) {
  .placeholder-text {
    font-size: 18px;
  }

  .placeholder-header {
    height: 40%;
  }
}

@media all and (max-width: 800px) and (orientation: landscape) {
  .placeholder-text {
    font-size: 18px;
  }

  .placeholder-header {
    height: 40%;
  }

  .placeholder-text {
    font-size: 16px;
  }

  .placeholder-footer {
    width: 50%;
  }
}
