.modalShare {
  background: #200909 url(../img/backShare.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 800px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /*opacity: 0;*/
  /*display: none;*/
  z-index: 10;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  text-align: center;
}

.modalShare > .close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #200909 url(../img/close.png);
  background-size: 100%;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  z-index: 999;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  cursor: pointer;
}

.modalShare > .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modalShare > h1 {
  color: #fdeb9f;
  font-family: 'MonotypeCorsiva', Arial, sans-serif !important;
  /*font-size: 1.8em;*/
}

.socialText {
  font-size: 14px !important;
  font-family: 'GothamPro-Light', Arial, sans-serif !important;
  color: #999999 !important;
  margin-top: 30px;
}

.socialLinks {
  width: 100%;
}

.socialLinks > a {
  width: 31px;
  height: 30px;
  position: absolute;
  left: 50%;
}

.socialLinks .vk {
  background: url(../img/social.png);
  background-position: 0;
  background-size: auto 100%;
  margin-left: -65px;
}

.socialLinks .fb {
  background: url(../img/social.png);
  background-position: -31px 0;
  background-size: auto 100%;
  margin-left: -15px;
}

.socialLinks .ok {
  background: url(../img/social.png);
  background-position: -62px 0;
  background-size: auto 100%;
  margin-left: 35px;
  width: 30px;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .modalShare {
    width: 90%;
    height: 90%;
    font-size: 0.7em;
  }
}

@media all and (orientation: landscape) and (max-width: 800px) {
  .modalShare {
    width: 90%;
    height: 90%;
    font-size: 0.7em;
  }

  .modalShare > .socialText {
    margin-top: 10px;
  }
}
