h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.afisha-landscape {
  display: none;
}

.modalAfisha {
  width: 950px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #200909 url(../img/backAfishaLeft.jpg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.sharikiLeft {
  background: url(../img/sharikiLeft.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-width: 175px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -175px;
}

.sharikiRight {
  background: url(../img/sharikiRight.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-width: 226px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -226px;
}

.cont1 {
  width: 100%;
  height: 100%;
  position: absolute;
  float: left;
  background: url(../img/backAfishaRight.jpg);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/*.cont2 {
    width: 300px;
    height: 440px;
    position: absolute;
    float: left;
    margin-left: 500px;
}*/

.modalAfishaCont {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
}

.cont2 .close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/close.png);
  background-size: 100%;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  z-index: 999;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  cursor: pointer;
}

.cont2 .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modalAfishaCont h1 {
  color: #fdeb9f;
  text-align: center;
  font-family: 'MonotypeCorsiva', Arial, sans-serif;
  font-size: 54px;
}

.modalAfishaCont p {
  color: #f2f0ee;
  width: 100%;
  text-align: center;
  font-family: 'GothamPro-Light', Arial, sans-serif;
  font-size: 12pt;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.modalAfishaCont input {
  visibility: hidden;
}

.agreedText a {
  color: #f2f0ee;
}

.agreedText {
  color: #f2f0ee;
  font-family: 'GothamPro-Light', Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  margin-left: 25px;
}

.agreedTextInput {
  background: url(../img/inputOff.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -30px;
  margin-top: -3px;
}

.agreedTextinput2 {
  background: url(../img/inputOn.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -140px;
  margin-top: 67px;
}

.socialText {
  font-size: 14px !important;
  font-family: 'GothamPro-Light', Arial, sans-serif !important;
  color: #999999 !important;
}

.socialLinks {
  width: 100%;
  margin-top: 8px;
}

.socialLinks a {
  width: 31px;
  height: 30px;
  position: absolute;
  left: 50%;
}

.socialLinks .vk {
  background: url(../img/social.png);
  background-position: 0;
  background-size: auto 100%;
  margin-left: -65px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.socialLinks .fb {
  background: url(../img/social.png);
  background-position: -31px 0;
  background-size: auto 100%;
  margin-left: -15px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.socialLinks .ok {
  background: url(../img/social.png);
  background-position: -62px 0;
  background-size: auto 100%;
  margin-left: 35px;
  width: 30px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.container {
  position: absolute;
  width: 95%;
  left: 5%;
}

.modalAfisha .share-buttons {
  margin-top: 30px;
  display: none;
}

.modalAfisha .btn {
  padding: 15px 20px 15px 20px;
  background: #fed64c;
  color: #000;
  font-family: 'GothamPro-Bold', Arial, sans-serif;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 36%;
}

.modalAfisha .btn a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.afisha-portrait {
  position: relative;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .sharikiLeft, .sharikiRight {
    display: none;
  }

  .cont1 {
    background-size: 50% auto;
  }

  .modalAfisha {
    width: 99%;
    height: 99%;
    background-size: 50% auto;
  }

  .modalAfishaCont {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    /*display: block;*/
  }

  .modalAfishaCont h1 {
    font-size: 25px !important;
    /*padding: 0 !important;*/
    /*margin-top: -10px;*/
  }

  .modalAfishaCont p {
    font-size: 8px !important;
    line-height: 10px;
    width: 99% !important;
    margin-top: -6px;
  }

  .modalAfishaCont p:last-child {
    padding-bottom: -3px !important;
  }

  .modalAfishaCont .agreedText {
    font-size: 12px !important;
  }

  .modalAfishaCont .socialText {
    margin: 5px 0 0 0 !important;
  }
}

@media all and (orientation: landscape) and (max-width: 800px) {
  .sharikiLeft, .sharikiRight {
    display: none;
  }

  .cont1 {
    background-size: 50% auto;
  }

  .modalAfisha {
    width: 99%;
    height: 99%;
    background-size: 50% auto;
  }

  .modalAfishaCont {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    /*display: block;*/
  }

  .modalAfishaCont h1 {
    font-size: 25px !important;
    /*padding: 0 !important;*/
    /*margin-top: -10px;*/
  }

  .modalAfishaCont p {
    font-size: 10px !important;
    line-height: 11px;
    width: 99% !important;
    margin-top: -6px;
  }

  .modalAfishaCont p:last-child {
    padding-bottom: -3px !important;
  }

  .modalAfishaCont .agreedText {
    font-size: 12px !important;
  }

  .modalAfishaCont .socialText {
    margin: 5px 0 0 0 !important;
  }

  .afisha-landscape {
    display: block;
  }

  .afisha-portrait {
    display: none;
  }
}
