.modalUploadEditor {
  background: #200909 url(../img/backUpload2.jpg) no-repeat;
  background-position: left bottom;
  width: 800px;
  height: 560px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  z-index: 10;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;

  text-align: center;
}

.modalUploadEditor > .close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/close.png);
  background-size: 100%;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  z-index: 999;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  cursor: pointer;
}

.modalUploadEditor > .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modalUploadEditor .btn {
  position: absolute;
  top: 430px;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 20px 15px 20px;
  background: #fed64c;
  color: #000;
  font-family: 'GothamPro-Bold', Arial, sans-serif;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9em;
}

.crop-canvas-container {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 400px;
}

.img-preview {
  position: absolute;
  width: 960px;
  height: 960px;
  top: -50000px;
  left: -50000px;
}

.img-preview img {
  width: 100% !important;
  height: auto !important;
}

.saveImage {
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin: auto;
  width: 109px;
  height: 20px;
  background: url(../img/upload-save-button.png);
  cursor: pointer;
}

.uploadCanvas {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 960px;
  height: 960px;
  -ms-transform: scale(0.33, 0.33); /* IE 9 */
  -webkit-transform: scale(0.33, 0.33); /* Safari */
  transform: scale(0.33, 0.33);
  left: 50%;
  margin-left: -160px;
}

.uploadCanvasHidden {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 900px;
  height: 404px;
}

.measure {
  position: absolute;
  left: -10000px;
  top: -100000px;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .modalUploadEditor {
    width: 90%;
    height: 60%;
  }

  .modalUploadEditor .btn {
    position: absolute;
    top: 103%;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .saveImage {
    top: 350px;
  }

  .uploadCanvas {
    -ms-transform: scale(0.28, 0.28); /* IE 9 */
    -webkit-transform: scale(0.28, 0.28); /* Safari */
    transform: scale(0.28, 0.28);
    top: 60px;
    margin-left: -138px;
  }
}
