h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.expand-landscape {
  display: none;
}

.close-expand2 {
  display: none;
}

.modalExpand {
  width: 800px;
  height: 440px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #200909 url(../img/backCollapse.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 10;
}

.cont1-expand {
  width: 500px;
  height: 440px;
  position: absolute;
  float: left;
}

.cont2-expand {
  width: 300px;
  height: 440px;
  position: absolute;
  float: left;
  margin-left: 500px;
}

.modalCollapse-expand {
  width: 100%;
  height: 440px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
}

.cont2-expand .close-expand {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/close.png);
  background-size: 100%;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  z-index: 999;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  cursor: pointer;
}

.cont2-expand .close-expand:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modalCollapse-expand h1 {
  color: #fdeb9f;
  text-align: center;
  font-family: 'MonotypeCorsiva', Arial, sans-serif;
  /*font-size: 1.8em;*/
}

.modalCollapse-expand p {
  color: #f2f0ee;
  width: 100%;
  text-align: center;
  font-family: 'GothamPro-Light', Arial, sans-serif;
  font-size: 10pt;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.modalCollapse-expand input {
  visibility: hidden;
}

.agreedText-expand a {
  color: #f2f0ee;
}

.agreedText-expand {
  color: #f2f0ee;
  font-family: 'GothamPro-Light', Arial, sans-serif;
  cursor: pointer;
  text-align: center;
  margin-left: 25px;
}

.nescafe-expand {
  background: url(../img/coffe.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

.agreedTextInput-expand {
  background: url(../img/inputOff.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -30px;
  margin-top: -3px;
}

.agreedTextinput2-expand {
  background: url(../img/inputOn.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: -140px;
  margin-top: 67px;
}

.socialText-expand {
  font-size: 14px !important;
  font-family: 'GothamPro-Light', Arial, sans-serif !important;
  color: #999999 !important;
}

.socialLinks-expand {
  width: 100%;
  margin-top: 8px;
}

.socialLinks-expand a {
  width: 31px;
  height: 30px;
  position: absolute;
  left: 50%;
}

.socialLinks-expand .vk {
  background: url(../img/social.png);
  background-position: 0;
  background-size: auto 100%;
  margin-left: -65px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.socialLinks-expand .fb {
  background: url(../img/social.png);
  background-position: -31px 0;
  background-size: auto 100%;
  margin-left: -15px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.socialLinks-expand .ok {
  background: url(../img/social.png);
  background-position: -62px 0;
  background-size: auto 100%;
  margin-left: 35px;
  width: 30px;
  opacity: 0.5;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.modalExpand .share-buttons {
  margin-top: 30px;
  display: none;
}

.modalExpand .btn {
  padding: 15px 20px 15px 20px;
  background: #fed64c;
  color: #000;
  font-family: 'GothamPro-Bold', Arial, sans-serif;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
}

.modalExpand .btn a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

.expand-portrait {
  position: relative;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .modalExpand {
    width: 99%;
    height: 99%;
    background-size: 90% auto;
    font-size: 0.7em;
  }

  .cont1-expand {
    width: 100%;
    height: 100%;
  }

  .modalCollapse-expand {
    width: 100%;
    height: 100%;
  }

  .modalCollapse-expand p {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .modalCollapse-expand label {
    text-align: center;
  }

  .container-expand {
    height: 40%;
  }

  .modalExpand-expand label {
    margin-top: 60%;
  }

  .close-expand2 {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/close.png);
    background-size: 100%;
    background-repeat: no-repeat;
    right: 20px;
    top: 20px;
    z-index: 999;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    cursor: pointer;
    display: block;
  }
}

@media all and (orientation: landscape) and (max-width: 800px) {
  .modalExpand {
    width: 99%;
    height: 99%;
    background-size: 90% auto;
    font-size: 0.7em;
  }

  .cont1-expand {
    width: 100%;
    height: 100%;
  }

  .cont2-expand {
    display: none;
  }

  .modalCollapse-expand {
    width: 100%;
    height: 100%;
  }

  .modalCollapse-expand p {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.5em;
  }

  .modalCollapse-expand label {
    text-align: center;
  }

  .container-expand {
    height: 40%;
  }

  .modalExpand-expand label {
    margin-top: 60%;
  }

  .close-expand2 {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../img/close.png);
    background-size: 100%;
    background-repeat: no-repeat;
    right: 20px;
    top: 20px;
    z-index: 999;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    cursor: pointer;
    display: block;
  }

  .expand-portrait {
    display: none;
  }

  .expand-landscape {
    display: block;
  }

}
