.overlay {
  width: 100%;

  height: 100%;
  height: -webkit-calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: calc(100% - 100px);

  top: 60px;
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);

  /*perspective: 1000px;*/
  /*-webkit-perspective: 1000px;*/

  /*backface-visibility: visible;*/
  /*perspective-origin: 50% 50%;*/
  /*transform-style: preserve-3d;*/
  /*-webkit-backface-visibility: visible;*/
  /*-webkit-perspective-origin: 50% 50%;*/
  /*-webkit-transform-style: preserve-3d;*/
  display: none;
  z-index: 9980;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.rot90 {
  -webkit-transform: rotate3d(1, 0, 0, -90deg);
  -moz-transform: rotate3d(1, 0, 0, -90deg);
  -ms-transform: rotate3d(1, 0, 0, -90deg);
  -o-transform: rotate3d(1, 0, 0, -90deg);
  transform: rotate3d(1, 0, 0, -90deg);
}

.rot0 {
  -webkit-transform: rotate3d(1, 0, 0, 0deg);
  -moz-transform: rotate3d(1, 0, 0, 0deg);
  -ms-transform: rotate3d(1, 0, 0, 0deg);
  -o-transform: rotate3d(1, 0, 0, 0deg);
  transform: rotate3d(1, 0, 0, 0deg);
}

.agree-checkbox {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .overlay {
    top: 120px;

    height: 100%;
    height: -webkit-calc(100% - 160px);
    height: -moz-calc(100% - 160px);
    height: calc(100% - 160px);
  }
}
