.modalBasic {
  background: #200909 url(../img/backBasic.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 800px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-align-content: center;
  -webkit-justify-content: center;
  text-align: center;
}

.modalBasic > .close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: url(../img/close.png);
  background-size: 100%;
  background-repeat: no-repeat;
  right: 20px;
  top: 20px;
  z-index: 999;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  cursor: pointer;
}

.modalBasic > .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modalBasic > h1 {
  color: #fdeb9f;
  font-family: 'MonotypeCorsiva', Arial, sans-serif;
  /*font-size: 1.8em;*/
}

.modalBasic > .btn {
  padding: 15px 20px 15px 20px;
  background: #fed64c;
  color: #000;
  font-family: 'GothamPro-Bold', Arial, sans-serif;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

@media all and (orientation: portrait) and (max-width: 480px) {
  .modalBasic {
    width: 90%;
    height: 60%;
    font-size: 0.7em;
  }
}

@media all and (orientation: landscape) and (max-width: 800px) {
  .modalBasic {
    width: 90%;
    height: 90%;
    font-size: 0.7em;
  }
}
