header,
footer {
    margin: 0;
    padding: 0;
}

.main-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #150905;
    width: 100%;
    height: 60px;
    z-index: 9999;
}

.logo {
    width: 15%;
    height: 60px;
    background: url(../img/logo.png);
    background-position: center center;
    background-size: auto 80%;
    background-repeat: no-repeat;
    position: absolute;
}

.changeAddress {
    width: 69%;
    height: 59px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: absolute;
    left: 15%;
}

.crosshair {
    display: none;
    width: 80px;
    height: 59px;
    left: 80%;
    position: absolute;
    border-right: 1px solid #695c42;
    background: url(../img/crosshair.png);
    background-size: 30% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.shareBtns {
    width: calc(20% - 60px);
    height: 60px;
    position: absolute;
    font-family: 'GothamPro-Light', Arial, sans-serif;
    color: #fff;
    font-size: 0.7em;
    left: calc(80% + 80px);
}

.shareBtns p {
    padding: 0;
    position: absolute;
    margin: 24px;
}

.shareBtns > .vk {
    width: 35px;
    height: 34px;
    position: absolute;
    background: url(../img/social.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 13px 20px 13px 130px
}

.shareBtns > .fb {
    width: 35px;
    height: 34px;
    position: absolute;
    background: url(../img/social.png);
    background-position: -34px 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 13px 20px 13px 170px
}

.shareBtns > .ok {
    width: 35px;
    height: 34px;
    position: absolute;
    background: url(../img/social.png);
    background-position: -70px 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 13px 20px 13px 210px
}

.addressInput {
    margin: 0px 0px 20px 60px;
    background: #fff;
    outline: none;
    border: none;
    font-family: 'GothamPro-Light', Arial, sans-serif;
    width: calc(100% - 63px);
    font-size: 15px;
    line-height: 16px;
}

.addressInputLabel {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 20px;
    background: url(../img/place.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

header {
    z-index: 99999;
    background: #000;
}

footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 99999;
}

.legal {
    width: 50%;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
}

.legal a {
    font-size: 0.6em;
    padding: 10px 0 10px 30px;
    text-decoration: none;
    color: #a3a3a3;
    font-family: 'GothamPro-Light', Arial, sans-serif;
    white-space: nowrap
}

.changeSound {
    width: 50%;
    height: 40px;
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap
}

.changeSound a {
    font-size: 0.6em;
    padding: 10px 40px 10px 10px;
    text-decoration: none;
    color: #a3a3a3;
    font-family: 'GothamPro-Light', Arial, sans-serif;
}


/*.changeSound a:after {
  content: ".";
  padding: 0 20px 0 0;
  position: absolute;
}*/

.iconSound {
    width: 20px;
    height: 14px;
    background-image: url(../img/sound.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 0 15px 0 0;
    position: absolute;
}

@media all and (max-width: 1600px) {
    .changeAddress {
        width: 64%;
        left: 15%;
    }
    .crosshair {
        left: 75%;
    }
    .shareBtns {
        left: calc(75% + 80px);
    }
}

@media all and (max-width: 1280px) {
    .changeAddress {
        width: 60%;
        left: 15%;
    }
    .crosshair {
        left: 70%;
    }
    .shareBtns {
        left: calc(70% + 80px);
    }
}

@media all and (max-width: 1024px) {
    .changeAddress {
        width: 56%;
        left: 15%;
    }
    .crosshair {
        left: 65%;
    }
    .shareBtns {
        left: calc(65% + 80px);
    }
}

@media all and (orientation: portrait) and (max-width: 480px) {
    .logo {
        width: 100%;
        background-position: 10% center;
    }
    .changeAddress {
        width: 100%;
        left: 0;
        top: 60px;
        height: 63px;
    }
    .crosshair {
        display: none;
    }
    .shareBtns {
        display: block;
        left: 20%;
    }

    .shareBtns p{
        display: none;
    }
}

@media all and (orientation: landscape) and (max-width: 800px) {
    .main-bar {
        height: 64px;
        overflow: hidden;
    }
    .changeAddress {
        width: 50%;
        height: 64px;
    }
    .crosshair {
        display: none;
    }
    .shareBtns {
        display: block;
        left: 60%;
    }
    .shareBtns p {
        margin: 24px 24px 24px 48px;
    }
    .addressInput {
        width: calc(100% - 85px);
    }
}
