<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="NESCAFÉ Gold Весна пришла">
  <meta property="og:title"
        content="NESCAFÉ Gold Весна пришла #NescafeGold #ВстречайВеснуСУдовольствием #ВесеннийСадNescafeGold">
  <meta property="og:description" content="#NescafeGold #ВстречайВеснуСУдовольствием #ВесеннийСадNescafeGold">
  <meta property="og:url" content="https://nescafegold.afisha.ru/upload/{{IMG_HASH1}}.html">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:image" content="https://nescafegold.afisha.ru/upload/{{IMG_HASH2}}.png">
  <meta property="og:image:width" content="960">
  <meta property="og:image:height" content="960">
  <meta property="og:image:height" content="960">
  <meta property="fb:app_id" content="402081280145977">
  <meta name="description" content="#NescafeGold #ВстречайВеснуСУдовольствием #ВесеннийСадNescafeGold">
  <meta http-equiv="refresh" content="1; http://nescafegold.afisha.ru/">
  <title>NESCAFÉ Gold Весна пришла</title>

</head>

<body>

</body>

</html>
